.grid {
  display: flex;
  flex-direction: column;
  flex-flow: wrap;
}
.SideBar {
  position: static;
  flex: 1;
  padding: 1rem;
  max-width: 300px;
  height: 100vh;
  border-right: 1px solid #dedede;
}
.rhs {
    flex: 4;
}
.Main {
  flex: 10;
  padding: 2rem;
}
